body {
    background: rgb(58,58,58);
    color: wheat;
}

h1{
    text-align: center;
    font-size: 300%;
    border: solid 2px wheat;
    border-radius: 25px;
    padding: 10px 10px 10px 10px;
    margin: 20px 50px;
    background-color:grey;
}

h2, button {
    margin-left: 100px;
    font-size: large;
}

button {
    padding: 10px;
    font-weight: bold;
}

h3{
    font-size: xx-large;
}

.game {
    display: flexbox;
    text-align: center;
}

.Joueur, .Computer{
    display: inline-block;
    }

.PlayersNames{
    border: 2px solid black;
    border-radius: 50px;
    margin: 15px;
    padding: 15px 15px;
}

.PlayersScores {
    border: 5px solid black;
    margin: 25%;
    padding: 10px 50px 10px 50px;
    font-size: x-large;
    font-weight: bolder;
    color: red;
}

.Player-img img:hover {
    cursor: pointer;
    border: 2px solid wheat;
    border-radius: 25%;
}

.Computer-img{
    display: block;
    align-items: center;
}

img {
    padding: 2px;
    width: 100px;
    height: auto;
}



